configuration {
	modes: "drun,window";
	show-icons: true;
	terminal: "terminal";
	drun-display-format: "{icon} {name}";
	location: 0;
	disable-history: false;
	hide-scrollbar: true;
	display-run: " Run ";
	display-window: " Window ";
	sidebar-mode: true;
}

@theme "catppuccin-default"
