
autostart=polybar

polybar() {
	spawn polybar >& ~/.cache/bashwm/polybar.log
}

eval _"$(declare -f open_display)"

open_display() {
	local dsp=$1

	if [[ -f ~/.config/bashwm/unixconnect.so ]]; then
		enable -f ~/.config/bashwm/unixconnect.so unixconnect
		if [[ $(type -t unixconnect) == builtin ]]; then
			unixconnect -v xfd /tmp/.X11-unix/X$dsp
			local ret=$?
			if (( $ret == 0 )); then
				log 'Using unixconnect\n'
				return
			else
				log 'unixconnect failed %d\n' $ret
			fi
		else
			log 'failed to load unixconnect builtin\n'
		fi
	else
		log 'unixconnect.so not found\n'
	fi
	_open_display $dsp
}

